 body{
        background-image: url("../images/c.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
      }
      .toph{
        margin-top: 50px;
      }
      .logoimg{
        float: right;
        width: 212px;
      }
      .serlogo{
        width: 196px;
      }
      .comes{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: #840512;
        margin-bottom: 16px;
      }
      .regbtn{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .parareg{
        margin-bottom: 20px;
        text-align: center; 
        color:black; 
        font-weight: bold;

      }
      .catcome{
        text-align: center;
      }
      .regsbtn{
        display: block;
        margin-bottom: 20px;
      }
      .regbtnimg{
        
        max-width: 100%;
        box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
        border-radius: 7px;

      }
      .footerreg{
        text-align: center;
      }
      /*-----------------------------------------------------*/
      @media only screen and (max-width: 768px)
      {
        .regbtnimg{
          max-width: 106%;
        }

      }
      @media only screen and (max-width: 480px)
      {
        .logoimg{
        float: right;
        width: 140px;
      }
        .serlogo{
        width: 150px;
      }
      }
